{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "document": true
  },
  "rules": {
    "jsx-a11y/no-static-element-interactions": 0,
    "react/forbid-prop-types": 0,
    "import/no-extraneous-dependencies": 0
  }
}
